
<!--
    Страница корзины
-->

<h1>{{title}}</h1>
<div id="card">
    {{#if card.courses.length}}
        <table>
            <thead>
                <tr>
                    <td>Course</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {{#each card.courses}}
                  <tr>
                      <td>{{title}}</td>
                      <td>{{price}}</td>
                      <td>{{count}}</td>
                      <td>
                          <button class="btn standart-btn delete_course_btn" data-id="{{id}}" data-csurfToken="{{@root.csurf}}">Delete</button>
                      </td>
                  </tr>
                {{/each}}
            </tbody>
        </table>
        <p class="total-price">Total price: <span class="price">{{card.totalCount}}</span></p>
        <form method="POST" action="/orders">
            <button type="submit" class="btn">To order</button>
            <input type="hidden" value="{{csurf}}" name="_csrf">
        </form>
    {{else}}
       <p>Your card is empty</p>
    {{/if}}
</div>